<ul>
    <li>
        <a href="#">
            <i class="fas fa-question-circle"></i>
            <span class="header-menu-options">Opcion 1</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-question-circle"></i>
            <span class="header-menu-options">Opcion 2</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-question-circle"></i>
            <span class="header-menu-options">Opcion 3</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-question-circle"></i>
            <span class="header-menu-options">Opcion 4</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-question-circle"></i>
            <span class="header-menu-options">Opcion 5</span>
        </a>
    </li>
</ul>