<ul>
    <li>
        <span>
            <a href="#">
                <i class="fas fa-question-circle"></i>
                <label class="header-menu-options">Opcion 1</label>
            </a>
        </span>
    </li>
    <li>
        <span>
            <a href="#">
                <i class="fas fa-question-circle"></i>
                <label class="header-menu-options">Opcion 2</label>
            </a>
        </span>
    </li>
    <li>
        <span>
            <a href="#">
                <i class="fas fa-question-circle"></i>
                <label class="header-menu-options">Opcion 3</label>
            </a>
        </span>
    </li>
    <li>
        <span>
            <a href="#">
                <i class="fas fa-question-circle"></i>
                <label class="header-menu-options">Opcion 4</label>
            </a>
        </span>
    </li>
    <li>
        <span>
            <a href="#">
                <i class="fas fa-question-circle"></i>
                <label class="header-menu-options">Opcion 5</label>
            </a>
        </span>
    </li>
</ul>